<div class="form-group">
  <label for="title">Title</label>
  <input required value="<%= course.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"><%= course.description %></textarea>
</div>
<div class="form-group">
  <label for="price">Price</label>
  <input name="price" type="number" id="price" class="form-control"><%= course.price %></textarea>
</div>
<a href="/courses" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>