<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Courses</h1>
    <a href="/courses/new" class="btn btn-success">New Course</a>

    <% courses.forEach(course => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= course.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= course.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2">Description: <%= course.description %></div>
          <div class="card-text mb-2">Price: <%= course.price %></div>
          <a href="courses/<%= course.slug %>" class="btn btn-primary">Read More</a>
          <a href="courses/edit/<%= course.id %>" class="btn btn-info">Edit</a>
          <form action="/courses/<%= course.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
         
          
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>