<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>

  <div class="container mt-5">
    <div class="card">
      <h5 class="card-header"><%= course.title %></h5>
      <div class="card-body">
        <a href="/courses" class="btn btn-secondary">All Courses</a>
        <a href="/courses/edit/<%= course.id %>" class="btn btn-info">Edit</a>

        <button type="submit" class="btn btn-primary">Enroll</button>
        <div class="card-text mb-2 mt-3">Price: <%= course.price %></div>
        <div class="card-text mb-2">Enrollees: <%= course.enrollees %></div>
        <div class="card-text mb-2">Available Slot: <%= course.enrollees %></div>
        
        <div>
          <%- course.sanitizedHtml %>
        </div>
      </div>
    </div>
</div>

</body>
</html>