

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div class="align-middle">
        <a href="/" class="float-md-start">
          <img src="mlogo.png" width="50" height="50" alt="">
          <h3 class="d-inline align-middle float-md-start">Buking Sistem</h3>
        </a>
        <nav class="nav justify-content-center float-md-end">
        <a href="/users/register" class="nav-link d-inline"
        >Register</a>
      <a href="/users/login" class="nav-link">Login</a>
    </nav>
      </div>
    </header>
  
    

<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center">
            <h1 class="display-2 mt-5 pt-5">
              Learners Today, Leaders Tomorrow
            </h1>
            <p class="lead">Buking Sistem is an educational platform where students and professional can enhance their skills</p>
            
          </div>
          <div class="col-lg-6">
            <img src="book.png" alt="" class="img-fluid d-none d-lg-block">
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


